{:source-paths
         ["src" ] 
 
 :dependencies
         [[tick "0.4.17-alpha"]
          ; you need to add this extra dependency! 
          [thheller/shadow-cljsjs "0.0.16"]]

 :builds {:app  {:target     :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :modules    {:main {:entries [app.core]}}}}}